*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar-nav{
    background: #565656;

    
}

.nav-bar ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    
}

.nav-bar ul li{
    margin: 0 20px;
    text-transform: uppercase;
    list-style: none;
    
}


.nav-bar ul li a{
    text-decoration: none;
    color: #39ff14

}


.nav-bar ul li a:hover{
    border-bottom: 2px solid #fff;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.closeMenu, .openMenu{
    position: fixed;
    visibility: hidden;
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .nav-bar ul li{
        display: none;
    }

    .openMenu{
        visibility: visible;
        opacity: 1;
        top: 15px;
        right: 15px;
    }
    .nav-bar ul{
        padding: 30px;
    }

    body.menu-expanded .closeMenu{
        visibility: visible;
        opacity: 1;
        z-index: 99999;
        position: fixed;
        top: 15px;
        right: 15px;

    }


    body.menu-expanded .openMenu{
        visibility: hidden;
        opacity: 0;

    }

  

    body.menu-expanded .nav-bar ul li{

        display: flex;
        width: 100%;
        margin-bottom: 150px;
        justify-content: center;

    }

   

    body.menu-expanded .nav-bar ul{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        
    }

}